.text {
  text-align: center;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.product-image-one {
  width: 200px;
  height: 200px;
  margin-left: 400px;
  margin-top: 20px;
}
.product-image {
  width: 200px;
  height: 200px;
  margin: 8px;
  /* margin: 20px; */
  /* margin-top: 20px;
  margin-left: 150px; */
}
/* li {
  /* text-align: center; */
/* } */
/* .porduct-cont {
  display: flex;
  flex-direction: column;
} */
.list {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
